.message-list{
    margin: 25px auto auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    max-height: 87vh;
    overflow-y: auto;
}

.messages-divider{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 19px;
    color: #222222;
    margin-top: 5px;
    margin-bottom: 5px;
}

.messages-divider::before,
.messages-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.messages-divider:not(:empty)::before {
    margin-right: .25em;
}

.messages-divider:not(:empty)::after {
    margin-left: .25em;
}