.preloader {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
