.message-input{
    margin: 10px auto;
    width: 90%;
    display: flex;
    min-height: 5vh;
}

.message-input-text{
    font-size: 16px;
    width: 90%;
    resize: none;
}

.message-input-button{
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: aliceblue;
    background-color: #03e3fc;
    font-size: 26px;
    width:10%;
    margin-right:0;
    margin-left: 10px;
}